.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f9d33e;
  color: white;
  height: 50px;
}

.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  margin-top: 10px;
}


.search-bar {
  display: flex;
}

.search-bar input {
  padding: 4px;
  font-size: 16px;
}

.search-bar button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.auth-links a {
  margin-left: 20px;
  color: black;
  text-decoration: none;
}

.auth-links a:hover {
  text-decoration: underline;
}

.login {
  position: relative;
  cursor: pointer;
}
/* 
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #444;
  border: 1px solid #555;
  border-radius: 5px;
  width: 200px;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #555;
}
   */
  /* Buttons */
  .buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  /* .try-cheaptrip-button, */
  .api-button {
    padding: 12px 24px;
    font-size: 16px;
    /* font-weight: bold; */
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .api-button {
    background-color: rgba(16, 42, 113, 0.3);
    color: #FFFEF0; /* Off-white */
    border: 1px solid rgba(255, 254, 240, 0.5); /* Off-white border */
  }
  
  .api-button:hover {
    background-color: rgba(16, 42, 113, 0.3); /* Semi-transparent blue (#102A71) */
  }

.header-right {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
}