/* CSS cho Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f9d33e;
  color: white;
  height: 50px;
}

.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  margin-top: 10px;
}

.search-bar {
  display: flex;
}

.search-bar input {
  padding: 4px;
  font-size: 16px;
}

.search-bar button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.auth-links a {
  margin-left: 20px;
  color: black;
  text-decoration: none;
}

.auth-links a:hover {
  text-decoration: underline;
}

.login {
  position: relative;
  cursor: pointer;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.api-button {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.api-button {
  background-color: rgba(16, 42, 113, 0.3);
  color: #FFFEF0; /* Off-white */
  border: 1px solid rgba(255, 254, 240, 0.5); /* Off-white border */
}

.api-button:hover {
  background-color: rgba(16, 42, 113, 0.3); /* Semi-transparent blue (#102A71) */
}

/* Nút Đăng Xuất */
.auth-links button {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #ff4d4d; /* Màu đỏ cho nút đăng xuất */
  color: white;
  border: none;
  transition: background-color 0.3s, transform 0.3s ease;
  margin-left: 10px;
}

.auth-links button:hover {
  background-color: #e60000; /* Đỏ đậm khi hover */
  transform: scale(1.05); /* Phóng to nút một chút khi hover */
}

.auth-links button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 77, 77, 0.7); /* Tạo viền sáng khi focus */
}

/* Định dạng cho phần header-right */
.header-right {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
}
